.App {
  text-align: center;
}
body{
  background-color:"--background:#1A1A1B;--canvas:#030303";
}
html{
  color: white;
  background-color:#030303
}

button{


  margin-top: 1px;
  width: 50%;
  font-size: large;
 
}

a{
  color: rgb(165, 40, 40);
}
footer{
  text-align: left;
  margin-top: 4px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}